<link rel="stylesheet" href="https://developer.encore.co.uk/sites/default/files/css/css_uXXmP4PSJRA-Bl96rL5nE7JZWsi1AW56sbjPvnX83G8.css?pqtq37"/>

<h1>Developer Portal</h1>

<h2>Data-Attr Master Table</h2>

<h3>Generic</h3>

<table class="table table-striped boxed">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mandatory</th>
        <th scope="col">Type</th>
        <th scope="col">Sourced from Query String</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <!-- Mandatory -->
      <tr>
        <th scope="row">data-api-path</th>
        <td>Yes</td>
        <td>String</td>
        <td>N/A</td>
        <td>
          <p>
            The host for the data service to use. This should be the fully qualified domain for the relevant capability service.<br>
            <em>Example: https://inventory-service.tixuk.io/</em>
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-app</th>
        <td>Yes</td>
        <td>String</td>
        <td>N/A</td>
        <td>
          <p>
            Indicates the host app to communicate with.<br/>
            <em>Example: inventory-app</em>
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-channel-id</th>
        <td>Yes</td>
        <td>String</td>
        <td>N/A</td>
        <td>
          <p>
            Identifies the channel which each affiliate will have been provided.<br>
            Formerly data-affiliate-id</p>
        </td>
      </tr>
      <tr>
          <th scope="row">data-css-mode</th>
          <td>No</td>
          <td>String</td>
          <td>N/A</td>
          <td>
            <p>
              The CSS to be applied to the widget.<br> 
              Valid values are: "full", "grid", "min".
            </p>
          </td>
        </tr>
      <tr>
        <th scope="row">data-view-name</th>
        <td>Yes</td>
        <td>String</td>
        <td>N/A</td>
        <td>Identifies the view for the app to load.</td>
      </tr>
      
      <!-- Optional -->
      <tr>
        <th scope="row">data-performance-date</th>
        <td>No*</td>
        <td>Date</td>
        <td>date</td>
        <td>
          <p>
            Date of the performance in the format YYYY-MM-DD<br>
            <em>Example: 2019-01-10</em>
          </p>
          <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-performance-time</th>
        <td>No*</td>
        <td>Time</td>
        <td>slot</td>
        <td>
          <p>
            Start time of the performance in 24-hour format HH:MM<br>
            <em>Example: 19:30</em>
          </p>
          <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-performance-type</th>
        <td>No*</td>
        <td>String</td>
        <td>performance_type</td>
        <td>
          <p>Indicates the type of performance, based on the part of day.<br/> 
            Valid values are:</p>
          <ul>
            <li>A - indicates "all"</li>
            <li>M - indicates "matinee"</li>
            <li>E - indicates "evening"</li>
          </ul>
          <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-product-id</th>
        <td>No*</td>
        <td>String</td>
        <td>product_id</td>
        <td>
          <p>Identifier of the product to show the seat plan for.</p>
          <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-product-type</th>
        <td>No*^</td>
        <td>String</td>
        <td>product_type</td>
        <td>
          <p>Required to allow selected seats to be added to the basket.<br>
          Valid values are:</p>
          <ul>
            <li>show</li>
            <li>attraction</li>
          </ul>
          <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
          <p><sub>^ FOR QUICKSEARCH: If a data-product-id is supplied, the data-product-type must be provided.</sub></p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-quantity</th>
        <td>No*</td>
        <td>Number</td>
        <td>qt</td>
        <td>
          <p>
            Number of tickets to be selected.<br/>
            <em>Example: 2</em>
          </p>
          <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-venue-id</th>
        <td>No*^</td>
        <td>String</td>
        <td>venue_id</td>
        <td>
          <p>Identifier of the venue to show the seat plan for (should correspond to the specified data-product-id). Required to allow selected seats to be added to the basket.</p>
          <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
          <p><sub>^ FOR QUICKSEARCH: If a data-product-id is supplied, the corresponding venue id for the product must be supplied.</sub></p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Venue-App Specific</h3>
  <h4>"seat-plan" and "seat-list" views:</h4>

  <table class="table table-striped boxed">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mandatory</th>
        <th scope="col">Type</th>
        <th scope="col">Sourced from Query String</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">data-suppress-addtobasket</th>
        <td>No</td>
        <td>Boolean</td>
        <td>N/A</td>
        <td>
        <p>Suppresses the redirection on add to basket CTA to allow custom handling of users selected ticket data. Default value: False</p>
        <p><sub>Event: venue-app_selected-seats-summary-on-addtobasket</sub></p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Inventory-App Specific</h3>
  <h4>"WeekSelector" & "SearchSummaryContainer" views:</h4>

  <table class="table table-striped boxed">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mandatory</th>
        <th scope="col">Type</th>
        <th scope="col">Sourced from Query String</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">data-pricing-path</th>
        <td>Yes (WeekSelector, SearchSummaryContainer)</td>
        <td>String</td>
        <td>N/A</td>
        <td>
        <p>
          The host for the pricing service to be used by the widget<br/>
          <em>Example: https://pricing-service.devtixuk.io</em>
        </p>
        <p><strong>TO BE DEPRECATED</strong></p>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>"NumberOfTickets" view:</h4>

  <table class="table table-striped boxed">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mandatory</th>
        <th scope="col">Type</th>
        <th scope="col">Sourced from Query String</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">data-rows</th>
        <td>No</td>
        <td>Number</td>
        <td>N/A</td>
        <td>
          <p>Configures how many rows of numbers the widget shows.<br> Range: 1-10.<br> Default: 2.</p>
        </td>
      </tr>
    </tbody>
  </table>
  
  <h4>QuickSearch views:</h4>

  <table class="table table-striped boxed">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mandatory</th>
        <th scope="col">Type</th>
        <th scope="col">Sourced from Query String</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">data-action-url</th>
        <td>No</td>
        <td>String</td>
        <td>N/A</td>
        <td>
          <p>Destination to redirect to on quick search submission.<br/>
          <em>Example: http://your-website-url/seats-page.html</em></p>
          <p><sub>* For integrators who want to control redirection for example in a SPA, omitting this attribute will stop any redirection. Listening to the "inventory-app_quicksearch-submit" event will allow these integrators to pick up associated data.</sub></p>
        </td>
      </tr>
      <tr>
        <th scope="row">data-redirect-url</th>
        <td>No</td>
        <td>String</td>
        <td>N/A</td>
        <td>
          <p>
            Secondary destination to redirect to on quick search compact view when date and time are unset.<br/>
            <em>Example: http://your-website-url/calendar-page.html</em>
          </p>
          <p><strong>TO BE DEPRECATED</strong></p>
        </td>
      </tr>
    </tbody>
  </table>


   