<link rel="stylesheet" href="https://developer.encore.co.uk/sites/default/files/css/css_uXXmP4PSJRA-Bl96rL5nE7JZWsi1AW56sbjPvnX83G8.css?pqtq37"/>

<table class="table table-striped boxed">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Mandatory</th>
      <th scope="col">Type</th>
      <th scope="col">Sourced from Query String</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
    <!-- Mandatory -->
    <tr>
      <th scope="row">data-api-path</th>
      <td>Yes</td>
      <td>String</td>
      <td>N/A</td>
      <td>
        <p>
          The host for the data service to use. This should be the fully qualified domain for the relevant capability service.<br/>
          <em>Example: https://inventory-service.tixuk.io/</em>
        </p>
      </td>
    </tr>
    <tr>
      <th scope="row">data-app</th>
      <td>Yes</td>
      <td>String</td>
      <td>N/A</td>
      <td>
        <p>
          Indicates the host app to communicate with.<br/>
          <em>Example: inventory-app</em>
        </p>
      </td>
    </tr>
    <tr>
      <th scope="row">data-channel-id</th>
      <td>Yes</td>
      <td>String</td>
      <td>N/A</td>
      <td>The id of the affiliate for which the embedding context (i.e. website) belongs.</td>
    </tr>

    <!-- Optional -->
    <tr>
      <th scope="row">data-action-url</th>
      <td>No</td>
      <td>String</td>
      <td>N/A</td>
      <td>
        <p>Destination to redirect to on quick search submission.<br/> 
        <em>Example: http://your-website-url/destination-page.html</em></p>
      </td>
    </tr>
    <tr>
      <th scope="row">data-booking-starts</th>
      <td>No<sup>*</sup></td>
      <td>Date</td>
      <td>booking_starts</td>
      <td>
        <p>Represents the first date a user can select (the availability is calculated "from" this date).</p>
        <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
      </td>
    </tr>
    <tr>
      <th scope="row">data-booking-ends</th>
      <td>No<sup>*</sup></td>
      <td>Date</td>
      <td>booking_ends</td>
      <td>
        <p>Represents the last date a user can select (the availability is calculated "to" this date)</p>
        <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
      </td>
    </tr>
    <tr>
      <th scope="row">data-css-mode</th>
      <td>No</td>
      <td>String</td>
      <td>N/A</td>
      <td>
        <p>The CSS to be applied to the widget. Valid values are:</p>
        <ul>
          <li>full (default)</li>
          <li>grid</li>
          <li>min</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">data-labels-config</th>
      <td>No</td>
      <td>JSON Object</td>
      <td>N/A</td>
      <td>
      <p>Set of labels to use for the Quick Search widget. See "Configuring labels" below for more details.</p>
      </td>
    </tr>
    <tr>
      <th scope="row">data-product-id</th>
      <td>No<sup>*</sup></td>
      <td>String</td>
      <td>product_id</td>
      <td>
        <p>Identifier of the product to limit the quick search to.&nbsp; If a value is provided, the search box will not be visible.</p>
        <p><sub>* Data-attr can be omitted in favor of property being supplied via query string. Query string values override data-attrs.</sub></p>
      </td>
    </tr>
    <tr>
      <th scope="row">data-product-type</th>
      <td>No<sup>^</sup></td>
      <td>String</td>
      <td>product_type</td>
      <td>
        <p>Valid values are:</p>
        <ul>
          <li>show</li>
          <li>attraction</li>
        </ul>
        <p><sub>^ If a data-product-id is supplied, the data-product-type must be provided.</sub></p>  
      </td>
    </tr>
    <tr>
      <th scope="row">data-venue-id</th>
      <td>No<sup>^</sup></td>
      <td>String</td>
      <td>venue_id</td>
      <td>
          <p><sub>^ If a data-product-id is supplied, the corresponding venue id for the product must be supplied.</sub></p>
      </td>
    </tr>
		<tr>
			<th scope="row">data-with-calendar</th>
			<td>No</td>
      <td>Boolean</td>
      <td>N/A</td>
			<td>A flag indicating if the date and time selectors are to be displayed in the Quick Search widget.</td>
		</tr>
	</tbody>
</table>